{% extends 'base.html.twig' %}
{% block body %}
<div class="usercss">
        {% trans_default_domain 'FOSUserBundle' %}

        <div class="bg-secondary p-4 m-4">
        <h1> Page d inscription  </h1>

        {{form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.adresse) }}
            {{ form_row(form.codePostal) }}
            {{ form_row(form.ville) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        {{ form_end(form) }}


        <div>
</div>
{% endblock %}








